
<div id="page-wrapper">

    <div class="container-fluid">

        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Leads 
                    <button type="button" class="btn btn-default new-lead" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ><span class="glyphicon glyphicon-plus"></span> New Lead</button>


                    <small class="right">Upload New Leads</small>
                </h1>


            </div>
        </div>
        

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Want to upload more leads? </strong><a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">Click Here</a> or drag a file anywhere on the screen.
                </div>
            </div>
        </div>
        


        

        <div class="row">


            <div class="col-lg-12">
                
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>
                            {{ leads.length }} Results
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover leads-hover">
                                <thead>
                                    <tr>
                                        <th>Lead Name / Company</th>
                                        <th><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></th>
                                        <th><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></th>
                                        <th>Contact Name</th>
                                        <th>Status</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                    </div>

            </div>

        </div>

    </div>

<!-- modal for add new lead -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Add a New Lead</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Lead Name / Company:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary green create-new-lead">Create New Lead</button>
          </div>
        </div>
      </div>
    </div>


</div>



