<form>
 <input type="text" class="title" value="{{title}}">

<h1>
<small>

 <input class="lead-title-submit" type="submit">
 <span class="cancel-title-edit"> Cancel </span>
    
</small>
</h1>




</form>