<span data-role="link" data-url="leads/{{id}}" style="display: none;">
    <td>{{title}}</td>
    <td>email</td>
    <td>phone</td>
    <td>name</td>
    <td><span class="label label-success">{{status}}</span></td>
    <td>account value</td>
</span> 