<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <h1 class="page-header">
                        {{title}}<br> <a href="#"><small>Edit</small></a>
                    </h1>
                </div>


                <div class="row">
                    <h1 class="task-header">
                        <small>Tasks<a href="#"><span class=" right glyphicon glyphicon-plus" aria-hidden="true"></span></small></a>
                    </h1>
                    <hr>
                    <ul>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">Call Jimbob
                            </label>
                            <a class="right edit-task"><small><span class=" right glyphicon glyphicon-pencil" aria-hidden="true"></span></small></a>                            
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">Check events for today
                            </label>
                            <a class="right edit-task"><small><span class=" right glyphicon glyphicon-pencil" aria-hidden="true"></span></small></a>                            
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">Go over strategy
                            </label>
                            <a class="right edit-task"><small><span class=" right glyphicon glyphicon-pencil" aria-hidden="true"></span></small></a>                            
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">Make dem calls
                            </label>
                            <a class="right edit-task"><small><span class=" right glyphicon glyphicon-pencil" aria-hidden="true"></span></small></a>                            
                        </li>                                                                    
                    </ul>
                
                </div>


                <div class="row">
                    <h1 class="task-header">
                        <small>Opportunties<a href="#"><span class="right glyphicon glyphicon-plus" aria-hidden="true"></span></small></a>
                    </h1>
                    <hr>

                        <div class="panel panel-default opportunity-panel">

                          <div class="panel-heading">
                            <h3 class="panel-title"><span class="opportunity-label label label-success">$20,000</span> Ben Cochrane <span class="badge">Active</span>
                            <a data-toggle="tooltip" data-placement="top" title="Edit this opportunity" class="right edit-opportunity"><span class="right glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            </h3>
                            
                          </div>

                          <div class="panel-body">
                            Great client, call him Boch.
                          </div>

                        </div>                    
                
                </div>





            </div>
            <div class="col-lg-8">
                <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>            
        </div>
    </div>
</div>


