<div class="panel panel-default opportunity-panel">

    <div class="panel-heading">

        <h3 class="panel-title"><span class="opportunity-label label label-success">${{value}}</span> John Salesguy <span class="badge">{{status}}</span>
        <span data-toggle="tooltip" data-placement="top" title="Edit this opportunity" class="right edit-opportunity"><span class="right glyphicon glyphicon-pencil edit-opportunity" aria-hidden="true"></span></span>
        </h3>

    </div>

    <div class="panel-body">
        <p>{{comments}}</p>
    </div>
</div>



