

<div class="email-panel">

  <div class="col-md-1">
      <h4><span class="glyphicon glyphicon-envelope timeline-icon" aria-hidden="true"></span></h4>
  </div>  

  <div class="col-md-11 right">
      <div class="panel panel-default timeline-content">
        <div class="panel-heading timeline-title">
        {{subject}}
        <img class="img-rounded timeline-profile-image right" src="http://s27.postimg.org/kdkocn3gj/bencochrane_bio.png">
        <span class="right salesperson-first-name">Ben</span>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-play"></span>
          <span class="email-timeline-name">From: {{from}}, To: {{to}} </span><span class="days-ago right">{{date_sent}}</span><br><br>
          <pre>{{message_body}}</pre>
        </div>
      </div>

  </div>

</div>