* {
    font-family: 'Droid Sans', sans-serif;
}

a {
    text-decoration: none !important;
    color: #57bb89;
}

table {
  -webkit-box-shadow:      1px 1px 6px 1px lightgrey;    
  -moz-box-shadow:         1px 1px 6px 1px lightgrey;    
  box-shadow:              1px 1px 6px 1px lightgrey;    
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    background-color: #fed587;
    color: #9da3b3 !important;
}

body, .nav.navbar-nav.side-nav, #wrapper {
    background-color: #4c5365 !important;
    color: #9da3b3 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #57bb89;
}

.table-hover>tbody>tr:hover {
    background-color: #fed587;
}

.navbar.navbar-inverse.navbar-fixed-top {
    border: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.form-control.search-bar {
    margin: 1em;
    width: 25em;
}

.side-nav {
    top: 73px;
}

.navbar-brand {
    line-height: 2em !important;
    position: relative;
    left: 3.5em;
}


.leads-hover tbody tr:hover {
    cursor: pointer;
}

#page-wrapper {
    min-height: calc(100vh - 50px);
    overflow-y: scroll; 
    background-color: #f9f9f9;
}

.edit-task {
    padding-right: 1em;
}

.edit-task, .edit-opportunity:hover {
    cursor: pointer;
}

.checkbox {
    margin-left: -2em !important;
}

.checkbox:hover {
    color: #4c5365;
}

.task-header {
    margin-bottom: -0.4em;
}

.task-header {
    line-height: 0.7em;
    margin-top: 0.2em;
}

.opportunity-label {
    font-size: 1em;
}

.row {
    padding: 0 1em;
}


.contact-glyphicon {
    margin-right: 1em;
}

.page-header.btn-group.btn-group-justified {
    border-bottom: none;
}

.timeline-options {
    position: relative !important;
    margin-left: 4em !important;
}

.status-select {
    border-bottom: none;
}


.page-header.right.form-control {
    width: 15em !important;
}

.thumbnail-circle {
    height: 5em;
    width: 5em;
    border-radius: 4em;
    border: 1px solid grey;
}

.absolutely-centered {
  display: inline-block;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -m-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timeline-icon {
    border: 3px solid lightgrey;
    background-color: #4c5365;
    padding: 0.5em;
    border-radius: 2em;
    position: relative;
    top: -0.4em;
}

.badge {
    background-color: #4c5365 !important; 
}

.glyphicon.timeline-icon {
    transition: border 0.5s ease;
    color: white;
}


.glyphicon.timeline-icon:hover {
    border: 3px solid #fed587;
}


.timeline-sort {
    margin-top: -2em;
}

.timeline-content {
    margin-left: -1em;
}

.timeline-profile-image {
    height: 2.1em;
    width: 2.1em;
    border-radius: 2em;
    position: relative;
    top: -0.3em;
    border: 3px solid grey;
}

.salesperson-first-name {
    color: grey;
    margin-right: 0.5em;
}

.panel-default>.panel-heading, .panel-default > .panel-heading {
    background-color: white;
}

.panel-body.show-lead {
    padding: 0.5em 0.5em 0.5em 1em;
}

.days-ago {
    color: grey;
    border-bottom: 1px dotted grey;
}

.timeline-row .edit {
    margin-left: 1em;
    visibility: hidden;
}

.timeline-row:hover .edit {
    visibility: visible;
}

.email-timeline-name {
    color: grey;
}

.glyphicon-play {
    color: grey;      
}

.company-logo {
    height: 5em;
    width: 5em !important;
    position: relative;
    left: 5.3em;
    top: 1em;
    margin-bottom: -1em;
    border-radius: 4em;
    background-color: #fed587;
}

.side-nav li a, .side-nav li a {
    transition: background-color 0.3s ease;
}

.side-nav li a:hover, .side-nav li a:focus {
    background-color: #fed587 !important;   
}

.company-heading {
    position: relative;
    left: 2.6em;
    color: #9da3b3;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #4c5365;
  -webkit-box-shadow: 3px 3px 5px 6px #4c5365;
  box-shadow:         3px 3px 5px 6px #4c5365;
}


.smart-views-plus-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.form-control.search-bar {
    height: 3em;
    position: relative;
    left: 11em;
}

.new-lead {
    position: relative;
    left: 1em;
}

.nav.nav-pills {
    position: relative;
    left: 4em;
}

.label-success {
    background-color: #57bb89 !important;
}

.timeline-input-select {
    transition: background-color 0.3s ease;
}


.timeline-input-select:hover {
    background-color: #fed587;
    /*color: white;*/
}

.lead-title-submit, .lead-title-cancel {
    background: none!important;
     border: none; 
     padding: 0!important;
     cursor: pointer;
}

.cancel-title-edit, .lead-title-submit {
    transition: color 0.2s ease;
}

.cancel-title-edit {
    margin-left: 0.5em;
}

.lead-title-submit:hover, .cancel-title-edit:hover {
    cursor: pointer;
    color: #57bb89;
}

.delete-lead, .merge-lead {
    transition: color 0.2s ease;
}

.merge-lead:hover, .delete-lead:hover {
    cursor: pointer;
    color: #57bb89;
}

.lead-title-save, input.title {
    word-wrap: break-word; 
}

.new-lead, .cancel {
    border: none;
    background-color: #9da3b3;
    color: #f9f9f9;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.new-lead:hover, .cancel:hover {
    background-color: #4c5365;
    color: #f9f9f9;
}

.green {
    transition: background-color 0.3s ease;
    background-color: #57bb89;
    border: none;
}

.green:hover {
    background-color: #37A36D;
}

.inline { 
    display: inline-block;
}

.opportunity-comments {
    min-height: 3em;
    word-wrap: break-word; 
}


.margin-left {
    margin-left: 1em;
}

.create-new-opportunity {
    min-width: 6em;
}

.opportunity-edit-form-holder .col-md-6, .opportunity-edit-form-holder .col-md-12  {
    margin-top: 0.8em;
}

.new-opp-trash:hover {
    cursor: pointer;
}